.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
}
